language: python
dist: xenial
sudo: required
cache: pip
addons:
  postgresql: "9.6"
services:
  - docker
  - postgresql
  - redis-server
addons:
  apt:
    packages:
    - libsnappy-dev

# stage decl.
stages:
  - name: test
  - name: deploy
    if: tag IS present

# build matrix for test stage
os:
  - linux
python:
  - "3.6"

install:
  - pip install -U pip setuptools
  - |
    # Use the same branch (if exists) for the backend.ai-common installation
    export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
    git ls-remote --heads 'https://github.com/lablup/backend.ai-common' | grep -q "refs/heads/${BRANCH}"
    if [ $? -eq 0 ]; then
      sed -i "s%\(backend.ai-common\)@master%\1@${BRANCH}%" requirements/test.txt
    fi
  - pip install -U -r requirements/test.txt
  - mkdir -p ~/.config/backend.ai
  - psql -c 'create database testing;' -U postgres
  - cp config/ci.toml ~/.config/backend.ai/manager.toml
  - mkdir -p /tmp/scratches
  - mkdir -p /tmp/vfroot/local
before_script:
  # etcd
  - mkdir -p /tmp/etcd
  - docker run -d -p 2379:2379 -p 2380:2380
     -v /tmp/etcd:/etcd-data
     --name backendai-etcd
     quay.io/coreos/etcd:v3.4.1
     /usr/local/bin/etcd
     --name backendai-etcd
     --data-dir /etcd-data
     --listen-client-urls http://0.0.0.0:2379
     --advertise-client-urls http://0.0.0.0:2379
     --listen-peer-urls http://0.0.0.0:2380
     --initial-advertise-peer-urls http://0.0.0.0:2380
     --initial-cluster backendai-etcd=http://0.0.0.0:2380
     --initial-cluster-token backendai-etcd-token
     --initial-cluster-state new
     --auto-compaction-retention 1
  - docker exec -it backendai-etcd etcdctl put /sorna/testing/config/docker/registry/index.docker.io "https://registry-1.docker.io"
  - docker exec -it backendai-etcd etcdctl put /sorna/testing/config/docker/registry/index.docker.io/username "lablup"
  - docker exec -it backendai-etcd etcdctl put /sorna/testing/config/redis/addr "127.0.0.1:6379"
  - docker exec -it backendai-etcd etcdctl put /sorna/testing/volumes/_mount "/tmp/vfroot"
  - docker exec -it backendai-etcd etcdctl put /sorna/testing/volumes/_default_host "local"
  # set capabilities to python binary
  - sudo setcap cap_sys_ptrace,cap_sys_admin,cap_dac_override+eip $(readlink -f $(which python))
  # pull minimal kernel images
  - docker pull lablup/lua:5.3-alpine3.8
script:
  - python -m pytest -m 'not integration' -v --cov=src
after_success:
  - codecov

# stage def.
jobs:
  include:
    - stage: test
    - stage: deploy
      python: "3.6"
      install: skip
      script: skip
      deploy:
        on:
          tags: true
        provider: pypi
        distributions: sdist bdist_wheel
        skip_upload_docs: true
        user: "__token__"
        password:
          secure: "n8go6UQ6HeKBX3Eun+m0rQGtpm+FHB6QwpE5EneRnLpCYUpU6XjmkwhVF+BY+JolQBDITB1wAQ9cJXto/jSw2clKY/hPF27PasLBFdu0GM7gkmy1eyJNjkOvzrzhKZ87Y4YdCZoIcMXALDjwxAi+G15zD4TYK8DvDhDGl6TtUVmHhYtFMX5hq/X7x+hDREmnCVLuxrW5/joJ3byupGBj+mE0QI9CxFep0K8TvzGI+8mLMvxqL3LFcvopAh/AIC5R342yCsfRPPJ+gUGXChPne2dMLuF5tmhA32o3db7Yru/JaANwED/0y4jzYWTHf3RzZFKY63GHJj+vPLKGyZv8dSGHYsR/gkCTAPbjWatlcprEFMNETtRQrvgI67canxGe51hW2HZCOXC90Jt7wBzE+3XdBFHMad8rvtyejZyZO+Zj1gT9eHwrbt7fBhqREd1hp9sl3zfQ136nmTCScWQ1ubFClokQiuvDrXWj+FJxBQOrIdVH9M65lTgp+FMwYJBd+/f9rUSjklYE85GoTV7EQq9nh/W28XZEkyfb5UmxndJ7mTkJ1Nsj9/2+xm1OrNV2h8TYtmdg70QLd8fq3lnKUuQyl6LPreM6B+/w9r6CUpa+lmK3RMosjQ/+lkdv2DzP45rHN7qn1LJRTq2xAnQeDyuCdqXQ61/3yWeTJ457cWc="

notifications:
  webhooks:
    secure: "q/cRHikmt2PkdzP5Q9MoZ5gE0qIo/bn6fqSLvWoEbEljUS6QxM2jCgHxA3Yb+TH9yS0KW8LsgxvQBeGgnCMv1pdV0qTtVY9Wq9A4klccufkMKOTr3c/YscmekWeWgsjE9rdiGgMDcET2R6GzLN0mT7YS6sO8pfsPwPB+mx92SmsTrOab+e5sYZMMa5rE82wsSxnXCgf+Nk73Euda4GUno0OtoypyfPsQXjVyf3nhdlHnYgcER4QwjVxbACEJiUkCqA43qrI+oiLsGwlWzIVOMilWW9upgDN6yCm3z6yynPZMaaqAy08HilYYoZFGnUSC9BI6UH1lsk39EumBPnS9q6nMbMGXTbcayyjy6wi3pkxJVvwIBcIVMewRfJHS4gkMPx0WPUvp3YdlWjZ8DH8C5NYmpVSFhBHb8rO9FzMwttk2xk/sEUOM/+aAbI3kQDLzYQC2wdCP6AvxVbCo8h7l+oF+HibdSucr2lW+821KL2tzS8lpvjMHV2yj4Rmsa/lGoTT6WPHBzwA7WIJvj7LskL4bzUl6Y59w6l0fEbtiqAS+8a7Ji3U/WhBU6cerw4CMqg6H9MXjkifHFVD8Oxb1KidKSX339xeALWXATXHxTvMIj51sEe23GGaMCk2G7UxZ9IIdYoEoargbH6vvBhmLZcTL1LCueDnImWIepgGb7pg="
