ConfigArgParse
coloredlogs>=5.2
pyzmq
aiozmq
aiohttp~=2.1.0
aiotools~=0.3.0
aioredis>=0.2.8
etcd3~=0.5.2
umsgpack
namedlist
SQLAlchemy
asyncpgsa~=0.10.1
python-dateutil>=2.5
simplejson
uvloop>=0.8
alembic~=0.9.2
psycopg2~=2.7.0
-e git+https://github.com/lablup/sorna-common@{BRANCH}#egg=sorna-common
pypandoc
pytest
pytest-asyncio
pytest-aiohttp
pytest-mock
pytest-cov
codecov
flake8
pep8-naming
-e .
