ConfigArgParse
coloredlogs
pyzmq
aiozmq
aiohttp>=2.0
aiotools~=0.3.0
aioredis>=0.2.8
msgpack-python
namedlist
SQLAlchemy
asyncpg>=0.7
asyncpgsa>=0.7
python-dateutil>=2.5
simplejson
uvloop>=0.7
-e git+ssh://git@github.com/lablup/sorna-common#egg=sorna-common
pypandoc
pytest
pytest-aiohttp
pytest-mock
flake8
pep8-naming
-e .
