ConfigArgParse
coloredlogs>=5.2
pyzmq>=16.0
aiozmq>=0.7
aiohttp~=2.2.0
aioredis>=0.2.8
msgpack-python
namedlist
SQLAlchemy
asyncpgsa~=0.10.0
python-dateutil>=2.5
simplejson
uvloop>=0.7
-e git+ssh://git@github.com/lablup/sorna-common#egg=sorna-common
pypandoc
pytest
pytest-aiohttp
pytest-mock
pytest-sugar
flake8
pep8-naming
-e .[build,test,ci]
